* {
margin: 0;
}

html {
-webkit-tap-highlight-color: transparent;
height: 100%;
}

body {
background-color: @bg-primary-color;
font-family: @primary-font-family;
font-size: @base-font-size;
line-height: @base-line-height;
color: @txt-primary-color;
height: 100%;
.highlight(@highlight-background-color, @highlight-text-color);
}


a {
color: inherit;
text-decoration: none;

	&:hover {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	}

	&:active {

	}

	&:visited {

	}
}

ul,
ol {
margin: 0;
padding: 0;
}

ul {
list-style-type: none;
}

ol {

}

li {

}

hr {

}

img {

}

h1,
h2,
h3,
h4,
h5,
h6 {


	em,
	.txt-em {


		strong,
		.txt-strong {

		}
	}

	strong,
	.txt-strong {


		em,
		.txt-em {

		}
	}
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

	a {

		&:hover {

		}

		&:active {

		}

		&:visited {

		}
	}

	ol {

		li {

		}
	}

	ul {

		li {

		}
	}

	br {

	}

	hr {

	}

	em,
	.txt-em {
	
		strong
		.txt-strong {
		
		}
	}

	strong,
	.txt-strong {
	
		em,
		.txt-em {
		
		}
	}
}

blockquote {

	p {

	}
}

em,
.txt-em {

	strong
	.txt-strong {
	
	}
}

strong,
.txt-strong {

	em,
	.txt-em {
	
	}
}